# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]

# SQLAlchemy
*.db-journal

# Editable install
*.egg-info/

# Build
build/
dist/

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/

# Logs
*.log

# OS
.DS_Store
Thumbs.db